### YARN ###
yarn.lock

### NPM ###
package-lock.json

### pnpm ###
pnpm-lock.yaml

### LOGS ###
logs

### LOCAL ###
*.local

### TMP ###
tmp

### NODE_MODULES ###
node_modules

### VSCode ###
.vscode

### Build ###
build
dist